html {
  font-size: 100%;
}

body {
  background-color: $gray;
  color: $black;
  font-size: 0.875rem;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  color: $black;
  font-size: 0.875rem;
  text-decoration: none;
}